<div style="padding-right: 5%; padding-left: 5%; ">
  <div class="card" style="width: 100%;margin-top: 2rem;background-color:#edf2f6;border-radius: 10px; height: 70em; ">
    <div class="card-header"><b>Listado de usuario</b></div>
    <div class="card mb-4 mt-4">
      <ul class="nav">
        <button type="button" class="btn-toolbar">
          <a href="/user/maintenance" class="nav-link text-toolbar">
            <span>
              <svg width="20" height="17" viewBox="0 0 14 14" fill="none">
                <path
                  d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
                  stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            Nuevo
          </a>
        </button>
        <button type="button" class="btn-toolbar">
          <a href="/user/card" class="nav-link text-toolbar">
            <span>
              <svg width="20" height="17" viewBox="0 0 14 14" fill="none">
                <path
                  d="M11.6667 1H2.33333C1.59695 1 1 1.59695 1 2.33333V11.6667C1 12.403 1.59695 13 2.33333 13H11.6667C12.403 13 13 12.403 13 11.6667V2.33333C13 1.59695 12.403 1 11.6667 1Z"
                  stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M1 5H13" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M5 13V5" stroke="#38E8C6" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            Volver
          </a>
        </button>
      </ul>
    </div>
    <div class="card-body">
      <div class="row pb-12 pr-12">
        <div class="container">
          <h2>Listado de Usuarios</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar por nombre o documento"
                  [(ngModel)]="searchTerm">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="searchUsers()">Buscar</button>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Email</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersList">
                <td>{{ user.name }} {{ user.fathersLastName }} {{ user.mothersLastName }}</td>
                <td>{{ user.documentNumber }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.regionDescription }}</td>
                <td>{{ user.provinceDescription }}</td>
                <td>{{ user.ubigeoDescription }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <button class="btn btn-primary btn-sm" (click)="editUser(user)">Editar</button>
                  <button class="btn btn-danger btn-sm" (click)="removeUser(user)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>

</div>